<!DOCTYPE html>
<html lan ="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Description" content="Pacific Trails Resort is a vaction spot
		for those who want to get away from there mor,al Lives. Our resort has lots of fun activites to do.We offer you an incredible experinece when you want to have some family time  or just feel like you need some relaxtion">
		<title>Pacific Trails Resort::Activities</title>
		<link href="pacific.css" type="text/css" rel="stylesheet">

	</head>

	<body>

		<div id="wrapper">
			<header>
				 <h1>Pacific Trails Resort</h1>
			</header>

			<nav>
				<ul>
					<li><a href="index.html"> Home</a></li>
					<li><a href="{% url 'yurts' %}">Yurts</a></li>
                    <li><a href="{% url 'activities' %}"> Activities</a></li>
                    <li><a href="{% url 'reservations' %}"> Reservations</a></li>
                    <li><a href="{% url 'details' %}"> Reservation Details</a></li>
				</ul>
			</nav>

			<div id="trailhero">
			</div>

			<main>
				<h2>Activities at Pacifc Trails</h2>

				<h3>Hiking</h3>

				<p>
					<span class="resort"> Pacific Trails Resort</span>
					has 5 miles of hiking trailsand adjacent to a state park.Go it alone or join one of our guided hikes;
				</p>

				<h3>Kayaking</h3>

				<p>Ocean Kaya's are avaible for guest use.</p>

				<h3>Bird Watching</h3>

				<p>While anytime is a good time for bird watching at Pacific Trails, we offer guided bird watching trips at sunrise several time a week.</p>
				<img src="pacificImages/resort2.jpeg" width="300" height="200">



			</main>



			<footer>
				<small><i>Copyright 2023 Pacific Trails Resort <br><i/></small>
				<a href="mailto: nikhil.dhage@gmail.com">nikhil.dhage@gmail.com</a>
			</footer>
		</div>
	</body>
</html>