{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
				<h2>Reservations Details </h2>
				<h3>Please Keep track of all Reservations  </h3>
                <br>
				<p>
                    Thank you for staying with us.
                    Reservation details will be emailed to all user who have reservations
                    Rules and regulations must be strictly followed.
                    Food and Drink aare allowed
                </p>


				<div id="contact">
					<p>
						<span class="resort">Pacific Trails Resort</span><br>

						12010 Pacific Trail Road<br>
						Zephyr , 9555<br><br>
						<a id="mobile" href="tel:888-555-5555">888-555-5555</a>
						<span id="desktop">888-555-5555</span>
					</p>
				</div>
			</main>
{% endblock %}