{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
				<h2>Reservations Details </h2>
				<h3>Please Keep track of all Reservations  </h3>
                <br>
				<p>Thank you for staying with us. Below are the details of your reservation:</p>

				<div>
				<strong>Name:</strong> {{ reservation.first_name }} {{ reservation.last_name }}<br>
				<strong>Email:</strong> {{ reservation.email }}<br>
				<strong>Phone:</strong> {{ reservation.phone_number }}<br>
				<strong>Arrival Date:</strong> {{ reservation.arrival_date }}<br>
				<strong>Nights:</strong> {{ reservation.nights }}<br>
				<strong>Comments:</strong> {{ reservation.comments }}
				</div>

				<br>


				<div id="contact">
					<p>
						<span class="resort">Pacific Trails Resort</span><br>

						12010 Pacific Trail Road<br>
						Zephyr , 9555<br><br>
						<a id="mobile" href="tel:888-555-5555">888-555-5555</a>
						<span id="desktop">888-555-5555</span>
					</p>
				</div>
			</main>
{% endblock %}