{% extends 'base.html' %}
{% load static %}

{% block content %}
    	<div id="yurthero">
            <img src="{% static '/pacificImages/yurt.jpg' %}">
        </div>

			<main>
				<h2>The Yurts at Pacifc Trails</h2>
				<dl>
					<dt><strong>What is a Yurt?</strong></dt>
					<dd>Our Luxury yurts are permanent structures four feet off the ground.<br>Each yurt is fully enclosed with canvas walls ,a wooden floor , and a<br> roof dome that can be opended.</dd><br>

					<dt><strong>How are the yurts furnished?</strong></dt>
					<dd>Each yurt is furnished with queen-sized bed with down qult and<br> gas-fired stove.Your luxury camping experience includes electricity<br> and with a sink with hot and cold runnning water.Shower and restroom<br> facilities are located in the lodge.</dd><br>

					<dt><strong>What should i bring?</strong></dt>
					<dd>Most guests pack comfortable walking shoesand plan to dress for<br> chaning weatherwith light layers of clothing.Its also helpful to<br> bring a flashlight and a sense of adventure.</dd>
				</dl><br>
				<h3>Yurts Packages</h3>
				<p>
					A variety of luxury yurt packages available.
					Choose a package below and contact us to begin<br>
					your reservation.We happy to build a custom package just for you.
				</p>

				<table >
					<thead>
						<tr>
							<th>Package Name</th>
							<th>Description</th>
							<th>Nights</th>
							<th>Cost Per Person</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>WeekEnd <br>Escape</td>
							<td><span class="text">Two Breakfeats , a trail map , and a picinic snack</span></td>
							<td>2</td>
							<td>$450</td>
						</tr>
						<tr>
							<td>Zen Retreat</td>
							<td><span class="text">Four Breakfeats , a trail map ,a picinic snack and a pass for the daily sunrise</span></td>
							<td>4</td>
							<td>$600</td>
						</tr>
						<tr>
							<td>Kayak Away</td>
							<td><span class="text">two Breakfeats , two hours of kayak rental daily, and a trail map</span></td>
							<td>2</td>
							<td>$500</td>
						</tr>
					</tbody>
				</table>
			</main>
{% endblock %}
